@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav {
  color: rgb(49, 48, 48);
  justify-content: space-between;
  display: flex;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 35%;
  width: 500px;
  height: 200px;
  transform: translate(0px, -200px);
  background: #686868;
  border: 3px solid rgba(8, 8, 8, 0.692);
  opacity: 0.7;
  border-radius: 20px;
  transition: all 0.7s ease;
  padding: 20px 30px;
  align-items: center;
}

h2 {
  margin-bottom: 15px;
  color: rgb(28, 27, 27);
}

.active {
  transform: translate(0px, 0px);
}

.player {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 0s;
  width: 100%;
  max-width: 235px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.volume-icon {
  background-image: url("../assets/svg/d05ff648ce9a8f293767.svg");
}

.muted {
  background-image: url("../assets/svg/e4b9e4f7d94fa7545081.svg");
}

.volume-bar {
  display: flex;
  width: 100%;
  height: 4px;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  transform: translate(250px, -50px);
  opacity: 0;
  transition: opacity .8s ease;
}

.volume-input {
  display: flex;
  width: 80%;
  background: rgba(255,255,255,0.6);
  height: 4px;
  border-radius: 9px;
  transition: width 1s ease;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 22px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  max-height: 5px;
  border-radius: 30px;
}

.progress-bar::-webkit-slider-thumb {
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #ffffff;
  cursor: pointer;
}

.progress-bar:focus {
  outline: none;
}

.weather {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 0s;
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 0s;
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 0s;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.settings {
  background-image: url(../assets/svg/b692ccc648d707431af6.svg);
  filter: invert(1);
  opacity: 0.7;
  display: flex;
  width: 40px;
  height: 40px;
  top: 0;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quotes {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 0s;
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.out-shadow {
  position: absolute;
  height: 100%;
}

.shadow-block {
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  background: rgba(0,0,0,.5);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0s 1s;
}

.hidden-block {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  transform: scale(0, 0);
  transition: .3s;
}

.tag {
  color: black;
  font-size: 15px;
  background: #fff;
  border: none;
  width: 150px;
  padding: 5px;
  border-radius: 30px;
}

.imgs {
  color: black;
  font-size: 15px;
  background: #fff;
  border: none;
  width: 150px;
  padding: 5px;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}